<!--Author: W3layouts
  Author URL: http://w3layouts.com
  License: Creative Commons Attribution 3.0 Unported
  License URL: http://creativecommons.org/licenses/by/3.0/
  -->
<!DOCTYPE HTML>
<html>

<head>
  <title>Hydroponic</title>
</head>

<body>

  <!--banner start here-->
  <div class="banner-two">
  </div>
  <!--banner end here-->
  <div class="container margin-container">
    <div class="page-title">
      <h2>Device Details</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div>
          <div class="rslides_container">
            <ul class="rslides" id="slider1">
              <li><img class="img-responsive" src="/images/images/1.jpg" alt=""></li>
              <li><img class="img-responsive" src="/images/images/2.jpg" alt=""></li>
              <li><img class="img-responsive" src="/images/images/3.jpg" alt=""></li>
              <li><img class="img-responsive" src="/images/images/4.jpg" alt=""></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <table class="table table-hover">
          <tbody>
            <tr class="info">
              <td>Device MAC</td>
              <td>{{device.mac}}</td>
            </tr>
            <tr>
              <td>Device Name</td>
              <td>{{device.name}}</td>
            </tr>
            <tr class="info">
              <td>Manufacturer</td>
              <td>{{device.manufacturer}}</td>
            </tr>
            <tr>
              <td>Installing Date</td>
              <td>{{device.date}} {{device.time}}</td>
            </tr>
            <tr class="info">
              <td>Status</td>
              <td>{{device.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="page-title">
      <h2>Crop List </h2>
    </div>
    <div class="crop-list-panel">
      <div class="panel panel-info panel-table">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-xs-6">
              <h3 class="panel-title">Device ID - Device Name</h3>
            </div>
            <div class="col col-xs-6 text-right">
              <button type="button" class="btn btn-sm btn-primary btn-create" data-toggle="modal" data-target="#addCropModal">Create New Crop</button>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-hover table-striped table-bordered table-list">
            <thead>
              <tr>
                <th class="hidden-xs">No.</th>
                <th>Crop Name</th>
                <th>Type</th>
                <th>Tree Species</th>
                <th>Starting Date</th>
                <th>Closing Date</th>
                <th>Status</th>
                <th><em class="fa fa-cog"></em></th>
              </tr>
            </thead>
            <tbody>
              <!--<tr ng-repeat="crop in cropList">-->
              <tr ng-repeat="crop in listCropPage">
                <td class="hidden-xs">{{((currentPage-1)*5)+($index + 1)}}</td>
                <td><a ng-href="#/device/{{deviceMac}}/crop/{{crop.id}}">{{crop.name}}</a></td>
                <td>{{crop.type}}</td>
                <td>{{crop.treetype}}</td>
                <td>{{crop.sdate}} {{crop.stime}}</td>
                <td>{{crop.cdate}} {{crop.ctime}}</td>
                <td ng-if="crop.status">Running</td>
                <td ng-if="!crop.status">Finished</td>
                <td>
                  <button ng-click="deleteCrop($index, crop.id, crop.status)" class="btn btn-danger"><em class="glyphicon glyphicon-trash"></em></button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col col-xs-4">
              <ul class="pagination hidden-xs pull-left">
                <li><a href ng-if="currentPage != 1" ng-click="previousPagination(currentPage - 1)"><em class="glyphicon glyphicon-chevron-left"></em></a></li>
              </ul>
            </div>
              <div class="col col-xs-4" style="text-align:center;">Page {{currentPage}} of {{numberPagination}}
            </div>
            <div class="col col-xs-4">
              <ul class="pagination hidden-xs pull-right">
                  <!--<li><a href="#">{{$index}}</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                  -->
                <li><a href ng-if="currentPage != numberPagination" ng-click="nextPagination(currentPage + 1)"><em class="glyphicon glyphicon-chevron-right"></em></a></li>
              </ul>
              <ul class="pagination visible-xs pull-right">
                <li><a href="#">«</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add device modal -->
  <div class="modal fade" id="addCropModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add new crop for this device</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <label for="name" class="col-md-4 col-sm-4">Crop Name:</label>
            <input ng-model="newCrop.name" class="col-md-7 col-sm-7" type="text" name="name" />
          </div>
          <br>
          <div class="row">
            <label for="tree-species" class="col-md-4 col-sm-4">Tree Species:</label>
            <input ng-model="newCrop.treetype" class="col-md-7 col-sm-7" type="text" name="tree-species" />
          </div>
          <br>
          <div class="row">
            <label for="starting-date" class="col-md-4 col-sm-4">Starting Date</label>
            <input ng-model="newCrop.startdate" class="col-md-7 col-sm-7" type="datetime-local" name="starting-date" />
          </div>
          <br>
          <div class="row">
            <label for="closing-date" class="col-md-4 col-sm-4">Closing Date</label>
            <input ng-model="newCrop.closedate" class="col-md-7 col-sm-7" type="datetime-local" name="closing-date" />
          </div>
          <br>
          <div class="row">
            <label for="report-time" class="col-md-4 col-sm-4">Report Time</label>
            <input ng-model="newCrop.reporttime" class="col-md-7 col-sm-7" type="number" name="report-time" placeholder="minutes" />
          </div>
          <br>
          <div class="row">
            <label for="type" class="col-md-4 col-sm-4">Type:</label>
            <select name="type" ng-model="newCrop.type">
              <option value="">---Please select---</option>
              <option value="drip system">Drip System</option>
              <option value="ebb-flow">EBB-Flow</option>
              <option value="nft">NFT</option>
              <option value="water culture">Water Culture</option>
              <option value="aeroponics">Aeroponics</option>
              <option value="wick system">Wick System</option>
            </select>
          </div>
          <br>
          <div class="row" style="text-align:center;">
            <p ng-attr-style="{{addCropSuccess && 'color: green' || 'color: red'}}">{{addCropMessage}}</p>
          </div>
          <br>
        </div>
        <div class="modal-footer">
          <button ng-click="addCrop()" type="button" class="btn btn-1 btn-primary">OK</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <script>
    $(function() {

      // Slideshow 1
      $("#slider1").responsiveSlides({
        auto: false,
        pager: true,
        nav: true,
        speed: 500,
        maxwidth: 800,
        namespace: "centered-btns"
      });
    });
  </script>
</body>

</html>
