.table-of-devices {
  margin: 0 auto;
  text-align: center;
}

.btn-customize {
  background-color: #956295;
  border-color: #956295;
}

.btn-customize:hover, .btn-customize:active, .btn-customize:focus, .btn-customize:visited {
  background-color: #684468 ;
  border-color: #684468 ;
}

.table-customize, .table-customize>thead>tr>th{
  text-align: center;
}

.modal-title {
  text-align: center;
}

.modal-header {
  background-color: #428bca;/*#956295;*/
  color: white;
}

/*.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}*/

.table-center{
  width:70%;
  margin:0 auto;
  text-align: center;
}
.model-table-center{
  width:100%;
  margin:0 auto;
  text-align: center;
}
.form-first-name, .form-last-name {
  width: 46%;
}

.form-last-name {
  float: right;
}

.button-diary {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
}

.button-blue-diary {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button-blue-diary:hover {
    background-color: #008CBA;
    color: white;
}

.right-button{
    float:right;
}

.tab-title {
  text-align: center;
  margin:10px 10px;
}

.time-stamp{
}


.table-remove-bottom-margin{
  margin-bottom:0px;
}
.time-stamp td, .time-stamp th{
  text-align: center;
}

/*----------------------------Crop List Panel------------------------------*/
.panel-table .panel-body{
  padding:0;
}

.panel-table .panel-body .table-bordered{
  border-style: none;
  margin:0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align:center;
    width: 100px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0px;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
  border-bottom: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
  border-top: 0px;
}

.panel-table .panel-footer .pagination{
  margin:0;
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col{
 line-height: 34px;
 height: 34px;
}

.panel-table .panel-heading .col h3{
 line-height: 30px;
 height: 30px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td{
  line-height: 34px;
}



.crop-list-panel td, .crop-list-panel th{
  text-align: center;
}

/*--------------------------------------------------------------------------*/

.margin-container{
  margin-top:50px;
  margin-bottom:50px;
}

.page-heading{
  margin-top:30px;
  margin-bottom:30px;
}


.tab-title{
  margin: 30px 30px;
}


.current-condition-table{
  margin-top:20px;
}

.current-condition-table td, .current-condition-table th{
  text-align: center;
  width: 25%;
}


.current-condition-status em, .current-condition-status td{
  color: green;
}

.status-normal{
  background-color: #FFFFFF;
}


.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

  .system-overview-table tr{
    height: 60px;
  }


  .program-setting-table tr{
    text-align:center;
  }


  .select-actuator{
    width:20%;
    text-align: center;
    margin: 20px auto;
  }

  .modal-table-center{
    width:100%;
    margin:0 auto;
  }

  /********** Register *************/

  #registerContainer, #loggedInContainer {
      position: relative;
  }

  #registerContainer a, #loggedInContainer a {
      text-decoration: none;
  }

  #registerContainer a span, #loggedInContainer a span {
      display: block;
      color: #fff;
      background: #f4d638;
      border-radius: 10px;
      -webkit-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      -moz-border-radius: 4px;
      padding: 5px 25px;
      font-size: 1.1em;
  }

  #registerContainer a span:hover, #loggedInContainer a span:hover  {
      background: #428bca;/*#956295;*/
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -o-transition: 0.5s all;
  }


  /* register Button */

  #registerButton, #loggedInButton, .logged-in-btn {
      margin-right: 5px;
      display: inline-block;
      position: relative;
      z-index: 30;
      cursor: pointer;
  }

  .logged-in-btn {
    border-radius: 35px 5px 35px 5px;
  }



  /* register Box */

  #registerBox, #loggedInBox {
      position: absolute;
      top: 45px;
      right: 27px;
      display: none;
      z-index: 29;
  }

  #registerForm:after, #loggedInForm:after {
      content: '';
      position: absolute;
      right: 25px;
      top: -10px;
      border-left: 10px solid rgba(0, 0, 0, 0);
      border-right: 10px solid rgba(0, 0, 0, 0);
      border-bottom: 10px solid #f0f0f0;
  }


  /* register Form */

  #registerForm, #loggedInForm {
      background: #fff;
      border: 2px solid #428bca;/*#956295;*/
      border-radius: 35px 5px 35px 5px;
  }

  #registerForm {
    width: 300px;
  }

  #loggedInForm {
      width: 100px;
  }

  #registerForm fieldset, #loggedInForm fieldset {
      margin: 0 0 15px 0;
      display: block;
      border: 0;
      padding: 0;
  }

  fieldset#body {
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -o-border-radius: 3px;
      padding: 15px 15px;
      margin: 0;
  }

  #body label {
      color: #000;
      margin: 10px 0 0 0;
      display: block;
      float: left;
      font-size: 0.8725em;
      font-weight: 400;
  }

  #body fieldset label {
      display: block;
      float: none;
      margin: 0 0 6px 0;
  }

  #body label i {
      color: #000;
      font-size: 1em;
      font-style: normal;
  }


  /* Default Input */

  #registerForm input, #loggedInForm input {
      width: 92%;
      border: 1px solid #DADADA;
      color: #222;
      background: #FFF;
      padding: 6px;
      font-size: 0.8125em;
      -webkit-apperance: none;
  }


  /* Sign In Button */

  #registerForm #register, #loggedInForm #logout {
      width: auto;
      float: left;
      background: #428bca; /*#351136;*/
      color: #fff;
      font-size: 0.8725em;
      padding: 8px 20px;
      border-radius: 4px;
      border: none;
      margin: 0 12px 0 0;
      cursor: pointer;
      transition: all .5s;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -o-transition: all .5s;
  }

  #registerForm #register:hover, #loggedInForm #logout:hover {
      background: #f4d638;
  }

  /* Forgot your password */

  #registerForm span {
      display: block;
      padding: 0px 0px 15px 0px;
  }

  #registerForm span a {
      color: #000;
      font-size: 0.85em;
      font-weight: 400;
      background: none;
      border: none;
      box-shadow: none;
      padding: 0 16px;
  }

  #registerForm span a:hover {
      text-decoration: underline;
  }

  input:focus {
      outline: none;
  }

  .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 4px 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      border-radius: 50%;
  }
.add-item-button {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.add-item-button:hover {
    background-color: #008CBA;
    color: white;
}

.modal-footer-left-align{
  text-align:left;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

table > thead > tr > th {
   text-align: center;
}

.warningAddSchedule{
  background-color: #93D6F8;
}
.no-warningAddSchedule{
  background-color: #FFFFFF;
}
